main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.singlePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
}

.infoSide {
  margin: 10px;
}