button{
    padding: var(--button-padding);
    color: var(--button-color);
    border: none;
    border-radius: var(--border-radius-all);
    outline: var(--outline);
}

.primaryButton {
    background-color: var(--button-primary-background);
}

.primaryButton:hover {
    background-color: var(--button-primary-hover-background);
    outline: var(--button-primary-hover-outline);
}

.secondaryButton {
    background-color: var(--button-secondary-background);
}

.secondaryButton:hover{
    background-color: var(--button-secondary-hover-background);
    outline: var(--button-secondary-hover-outline);
}