.card {
 background-color: black;
 color: #d3d3d3;
 width: 200px;
 height: 300px;
 margin: .5rem;
 padding: .5rem;
}

button {
    margin: .5rem;
}

.departmentMarketing {
    background-color: #FFAAFF;
    color: black;
}

.departmentHR {
    background-color: #AAAAFF;
    color: black;
}

.departmentIT {
    background-color: #FFFFAA;
    color: black;
}

.card-image {
    flex: 1;
    align-self: end;
    display: flex;
}

.card-image img {
    object-fit: cover;
    width: 50%;
    margin-left: auto;
    margin-top: 1rem;
}