.card {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: #d3d3d3;
    height: 450px;
    width: 20%;
    min-width: 200px;
    margin: .5rem;
    padding: .5rem;
}

.departmentMarketing {
    background-color: #FFAAFF;
    color: black;
}

.departmentHR {
    background-color: #AAAAFF;
    color: black;
}

.departmentIT {
    background-color: #FFFFAA;
    color: black;
}

.card-image {
    display: flex;
    justify-content: center;
    height: 30%;
    
}

.card-image img {
    object-fit: cover;
}

input {
    color: #f7f7f7;
    width: 100%;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    height: 20%;
    justify-content:space-between;
}