.card {
 background-color: black;
 color: #d3d3d3;
 width: 200px;
 height: 300px;
 margin: .5rem;
 padding: .5rem;
}

button {
    margin: .5rem;
}

.departmentMarketing {
    background-color: #FFAAFF;
    color: black;
}

.departmentHR {
    background-color: #AAAAFF;
    color: black;
}

.departmentIT {
    background-color: #FFFFAA;
    color: black;
}