.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-darkest);
    color: var(--color-text-light);
    height: 450px;
    width: 20%;
    min-width: 200px;
    margin: .5rem;
    padding: .5rem;
}

.departmentMarketing {
    background-color: #FFAAFF;
    color: var(--color-text-dark)
}

.departmentHR {
    background-color: #AAAAFF;
    color: var(--color-text-dark)
}

.departmentIT {
    background-color: #FFFFAA;
    color: var(--color-text-dark)
}

.cardImage {
    display: flex;
    justify-content: center;
    height: 30%;
    margin-bottom: 0.5rem;
    margin-top: auto;
}

.cardImage img {
    object-fit: cover;
}

input {
    color: var(--color-text-dark);
    width: 100%;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: space-between;
}