.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background-darkest);
    color: var(--color-text-light);
    height: 450px;
    width: 20%;
    min-width: 200px;
    margin: .5rem;
    padding: .5rem;
    border-radius: var(--border-radius-all);
    outline: var(--outline);
}

.card button {
    width: 80%;
}

.departmentMarketing {
    background-color: #FFAAFF60;
    color: var(--color-text-dark)
}

.departmentHR {
    background-color: #AAAAFF60;
    color: var(--color-text-dark)
}

.departmentIT {
    background-color: #FFFFAA60;
    color: var(--color-text-dark)
}

.cardImage {
    display: flex;
    justify-content: center;
    height: 35%;
    margin-bottom: 0.5rem;
    margin-top: auto;
}

.cardImage img {
    object-fit: cover;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    height: 30%;
}


input {
    color: var(--color-text-dark);
    width: 100%;
    height: 10%;
    line-height: 1.1;
    text-align: center;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    height: 22%;
    justify-content: space-between;
    align-items: center;

}